$yellow: #f6d55c;
$navy: #173f5f;
$blue: #20639b;
$turqouise: #3caea3;
$orange: #ed553b;
$black: #343a40;
$white: #b0b0b0;
$gray: #808080;

$primary-color: $turqouise;
$header-size: 3em;
$header-font: 'Damion';
$alt-header-font: 'Montserrat';
$body-font: 'Montserrat';

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}
body{
    font-family: $body-font;
    overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $primary-color;
}
.link{
    color: $primary-color;
}
//button that shows when navbar gets collapsed
.navbar-toggler{
    margin-right:1em;
}

.nav-item {
    color: #6c757d;
    font-size:1.5em;
}
.nav-item:hover{
    color: $primary-color;
}
#navbar{
    background: #f5f5f5;
}
.site-header {
    font-size: 7em;
    color: $primary-color;
    font-weight: normal;
    font-family: $header-font;
    text-align: left;

}

.navbar-header {
    font-family: $header-font;
    font-size:$header-size;
    color: $primary-color;
    margin:0;
    margin-left: 1em;
    padding:0;
    
}
.header-wrapper{
    background: none;
}
.pages-group{
    margin-right:2em;
}

.fa-bars {
    color: $primary-color;
    font-size: 2em;
}
.jumbotron {
    background: none;
    margin-top:0;
    padding-top:0;
}
.cta {
    background: none;
    border: 4px solid $primary-color;
    color: $primary-color;
    padding:15px;
    font-size:1.25em;
}
.lead{
    color:whitesmoke;
    font-size:1.5em;
}
.landing {
    background: url('../img/mountains3.jpg');
    background-size: cover;
    width:100%;

}
.page-header{
    // font-size:9em;
    font-size:5em;
    text-align: center;
    
}
#about{
    background: $black;
    padding: 5% 0 5% 0;
}
.me{
    height:40%;
    text-align: center;
}

.img-wrapper{
    border-bottom: 2px solid $gray;
    padding-bottom:2em;
    width:60%;
}
.bio {
    // text-align:left;
    color: $white;
    font-weight: lighter;
}
.job-title{
    font-family: $body-font;
    color: $gray;
    font-weight: bold;
    padding-bottom:1em;
}
.media-body{
    padding:2em;
}
.next-page{
    color:$primary-color;
    font-family: $header-font;
    font-size:48px;
}
.next-page-link {
    color: $primary-color;
    transition: 0.3s color;
    
}
.next-page-link:hover{
    color:$white;
}
.vl {
    visibility: hidden;
}

#work {
    background: whitesmoke;
}

.project-container {
    max-width:80%;
    margin-bottom:1em;
}
.project-thumbnail {
    max-width: 100%;
}

.project-title {
    text-align:left;
    font-family: $alt-header-font;
}

.title-content {
    text-align: left;
    max-width:80%;
}
.page-description {
    text-align: left;
    color: $black;
}


@media only screen and (min-width: 768px) {
    .job-title{
        font-size:36px;
    }
    .vl{
        display: inline;
        border-left: 2px solid #808080;
        visibility: visible;
    }
    
    .about-content{
        width:70%;
        text-align:left;
        display:flex;
    }
    .img-wrapper {
        border-bottom: 0;
        padding-bottom: 0;
        // border: 2px solid #808080;
        padding-right: 2em;
        width:auto;
        display:inline-block;
    }
    .media-body{
        display: inline-block;
        width:50%;
    }
    .page-header{
        text-align:left;
        width:70%;
        font-size:8em;
    }
    .bio {
        width:80%;
    }
}